
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>MyIndex</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<div class="text-center">
		@ViewBag.Greeting World (from the new View)
		@*<p>
			We're going to have an exciting party<br />
			(To do: Sell it better. Add pictures or something)
		</p>
		<a asp-action="RsvpForm">RSVP Now</a>*@
		<h3>We're going to have an exciting party!</h3>
			<h4>And *YOU* are invited!</h4>
			<a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
	</div>
</body>
</html>
