@model Entities.GuestResponse

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>RsvpForm</title>
	<link rel="stylesheet" href="/css/Validation.css" />
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
<div class="panel panel-success">
	<div class="panel-heading text-center"><h4>Guest Response</h4></div>
	<div class="panel-body">
		<form class="p-a-1" asp-action="RsvpForm" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="WillAttend" class="control-label"></label>
				<select asp-for="WillAttend">
					<option value="">Choose an option</option>
					<option value="true">Yes, I'm up for a wild party!</option>
					<option value="false">No, alas I must attend to other things that day...</option>
				</select>
				<span asp-validation-for="WillAttend" class="text-danger"></span>
			</div>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">Submit RSVP</button>
			</div>
		</form>
	</div>
</div>


</body>
</html>